@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --bg: #272727;
    --nav: #424242;
    --highlight: #fddb3a;
    --text_color: #ffffff;
    --darker-text: #c7c7c7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {

}

h1 {
    padding: 20px;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: var(--text_color);
    text-transform: uppercase;
    text-shadow: 1px 1px 0px var(--darker-text),
                 1px 2px 0px var(--darker-text),
                 1px 3px 0px var(--darker-text),
                 1px 4px 0px var(--darker-text),
                 1px 5px 0px var(--darker-text),
                 1px 6px 0px var(--darker-text),
                 1px 10px 5px rgba(16, 16, 16, 0.5),
                 1px 15px 10px rgba(16, 16, 16, 0.4),
                 1px 20px 30px rgba(16, 16, 16, 0.3),
                 1px 25px 50px rgba(16, 16, 16, 0.2);
}

body {
  background: var(--bg);
  font-family: "Montserrat", sans-serif;
}

main {
    text-align: center;
}

nav{
    height: 80px;
    background-color: var(--nav);
}

.navMenu {
    text-align: center;
}


.navMenu img {
    max-width: 50px;
    max-height: 50px;
    float: left;
    align-content: center;
    left: 10px;
    top: 15px;
    display: flex;
    position: absolute;
}

.navMenu a {
    float: right;
    top: 20px;
    color: var(--text_color);
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    width: fit-content;
    padding: 10px;
    height: 100%;
    border: 10px;
    position: relative; 
}

.navMenu a:hover {
  color: #fddb3a;
}

footer {
    text-align: center;
    background-color: var(--nav);
    color: var(--text_color);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 10px;  
}